.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  width: 100%;

  &__inputStyle {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 146px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
  }

  &__textAreaStyle {
    resize: none;
    width: 42.5rem;
  }

  &__buttonWrapper {
    display: flex;
    width: 715px;
    align-items: flex-start;
    gap: 24px;
  }

  &__button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
  }

  &__cancelButton {
    border: 2px solid #4baa79;
    color: #4baa79;
    background-color: #fff;
  }

  &__nextButton {
    background-color: #4baa79;
    color: white;
  }

  &__switchWrapper {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
  }

  &__errorText {
    color: red;
    font-size: 12px;
  }
}

.inputContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.modalContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}

.radioOptions {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 90%;
  padding: 16px;
}

.radioOptionsWrapper {
  display: flex;
  padding: 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
}

.monthPay {
  width: 45rem;
}

.stepContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
}
