.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  background-color: rgba(128, 128, 128, 0.123);

  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: '#333';
  }

  &__message {
    font-size: 1rem;
    color: #666;
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__linkButton {
    color: #4baa79;
    border-radius: 5px;
    background-color: 1px solid #4baa79;
    padding: 7px;
    border: none;
    border: 1px solid #4baa79;
    cursor: pointer;
  }
}

.header {
  width: 100%;
  height: 97px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 73%;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #2d416f;
  height: 58px;
  width: 100%;
  color: #fff;
  padding-left: 43px;
  font-weight: 400;
  line-height: 19.2px;
}

.logo {
  margin-left: 1px;
  margin-top: 2px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 16rem;
}

.headerNav {
  width: 20%;
  max-width: 302px;
  margin-top: 0px;
  padding: 16px;
  height: 100%;

  &__list {
    margin: 0;
    padding: 0;
    display: inline;
  }

  &__listItem {
    margin: 0;
    list-style: none;
    background-color: #4baa79;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 40px;
  }

  &__itemLink {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #818da9;
  }
}

.moreOutlined {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popupModalContent {
  display: flex;
  cursor: pointer;
  width: 100%;
  min-width: 100px;
  gap: 9px;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;

  & > p {
    margin: 4px;
  }

  &:hover {
    border: 1px solid #4baa79;
    border-radius: 4px;
  }
}

.timelineContainer {
  position: relative;
}

.stepIndicator {
  position: absolute;
  top: 50%;
  right: -17px;
  z-index: 1;
  transform: translateY(-50%);
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #4baa79;
}

.stepTitle {
  position: absolute;
  text-align: center;
  width: 120px;
  top: -40px;
  right: -60px;
  white-space: nowrap;
  z-index: 1;
  font-weight: 500;
}

.profileUser {
  width: 8rem;
  padding-left: 1%;
}

.userName {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.userTitle {
  font-weight: 400;
  margin-top: 1%;
  font-size: 13px;
}
